@font-face{
    font-family: mon;
    src: url("/personalwebsite/fonts/Montserrat/Montserrat-Bold.ttf")
}
@font-face{
    font-family: monlight;
    src: url("/personalwebsite/fonts/Montserrat/Montserrat-Light.ttf")
}
@font-face{
    font-family: Tera;
    src: url("/personalwebsite/fonts/Lexend_Tera/LexendTera-Regular.ttf")
}
@font-face{
    font-family: Zetta;
    src: url("/personalwebsite/fonts/Lexend_Zetta/LexendZetta-Regular.ttf")
}
html{
    scroll-behavior: smooth;
}
@media only screen and (max-width: 600px){
    /* mobile login */
    .form{
        margin-top: 90px;
        text-align: center;
        font-family: Tera;
    }
    label{
        font-family: Zetta;
    }
}   
@media only screen and (min-width: 600px){
    /* mobile login */
    .form{
        margin-top: 90px;
        text-align: center;
        font-family: Tera;
    }
    label{
        font-family: Zetta;
    }
}
@media only screen and (min-width: 768px){
    /* tablet login */
    .form{
        margin-top: 10px;
        text-align: center;
        font-family: Tera;
    }
    .form-box{
        width: 400px;
        height: 300x;
        border: 1px solid #E5E1E1;
        padding: 20px;
        margin-top: 100px;
        margin-left: 150px;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label{
        font-family: Zetta;
    }
}
@media only screen and (min-width: 992px){
    /* small computers and tablets login */
    .form{
        margin-top: 10px;
        text-align: center;
        font-family: Tera;
    }
    .form-box{
        width: 400px;
        height: 300x;
        border: 1px solid #E5E1E1;
        padding: 20px;
        margin-top: 100px;
        margin-left: 350px;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }  
    label{
        font-family: Zetta;
    }
}
@media only screen and (min-width: 1200px){
    /* large computers login */
    .form{
        margin-top: 10px;
        text-align: center;
        font-family: Tera;
    }
    .form-box{
        width: 400px;
        height: 300x;
        border: 1px solid #E5E1E1;
        padding: 20px;
        margin-top: 100px;
        margin-left: 350px;
        border-radius: 6px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label{
        font-family: Zetta;
    }
}
